* {
  box-sizing: border-box;
}

.a02Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 428px;
  height: 926px;
  overflow: hidden;

  .frame101 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    background: var(--White, #ffffff);
    padding-right: 20px;
    padding-left: 20px;
    min-width: 428px;
    height: 44px;

    .time {
      flex-shrink: 0;
      padding: 0px 10px;
      line-height: 23px;
      letter-spacing: 0;
      color: var(--Black, #000000);
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600;
    }

    .frame100 {
      flex-shrink: 0;
      width: 67px;
      height: 11px;
    }
  }

  .frame1000006434 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 95px;
    width: 378px;
    row-gap: 5px;

    .welcomeBack {
      flex-shrink: 0;
      line-height: 39px;
      letter-spacing: 0;
      color: var(--Primary, #0095ff);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
    }

    .accessYourTripsAndTr {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 40px;
    background: var(--White, #ffffff);
    padding-right: 25px;
    padding-left: 25px;
    row-gap: 30px;

    .frame1000006360 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 30px;

      .enterEmail {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Black, #000000);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .inputField {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        border-radius: 10px;
        background: #eaf6ff;
        padding: 25px 18px;
      }

      .password {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        row-gap: 20px;

        .inputField2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border-radius: 10px;
          background: #eaf6ff;
          padding: 25px 18px;
          height: 66px;

          .eye {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
          }
        }

        .frame1000006392 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;

          .frame1000006363 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 7px;

            .icon {
              flex-shrink: 0;
              width: 10px;
              height: 10px;
            }

            .rememberMe {
              flex-shrink: 0;
              line-height: 15px;
              letter-spacing: 0;
              color: var(--Black, #000000);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }

          .forgotPassword {
            flex-shrink: 0;
            line-height: 15px;
            letter-spacing: 0;
            color: var(--Primary, #0095ff);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .button {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border-radius: 10px;
        background: var(--Primary, #0095ff);
        padding: 20px;
        height: 60px;
        row-gap: 10px;

        .signIn {
          flex-shrink: 0;
          line-height: 19px;
          letter-spacing: 0;
          color: var(--White, #ffffff);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .frame51 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      row-gap: 15px;

      .otherOption {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 16px;

        .dividerLine {
          flex-shrink: 0;
          background: #ebebeb;
          width: 137px;
          height: 1px;
        }

        .or {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Black, #000000);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }

      .frame48 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 30px;
        margin-right: 69px;
        margin-left: 69px;

        .frame1000001523 {
          flex-shrink: 0;
          border-radius: 28px;
          width: 60px;
          height: 60px;
        }
      }

      .donTHaveAnAccountCre3 {
        flex-shrink: 0;
        line-height: 16px;
        letter-spacing: 0;
        color: #000000;
        font-size: 13px;

        .donTHaveAnAccountCre {
          letter-spacing: 0;
          color: var(--Third, #525252);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }

        .donTHaveAnAccountCre2 {
          letter-spacing: 0;
          color: var(--Gray-Gray-1, #000000);
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }

  .frame82 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 215px;
    width: 428px;
    height: 30px;
    row-gap: 10px;

    .rectangle {
      flex-shrink: 0;
      border-radius: 360px;
      background: var(--Black, #000000);
      width: 120px;
      height: 4px;
    }
  }
}
